body{
    background-color: #26006f;
}


.img{
    width: 250px;
    height: 350px;
    margin-right: 50px;
}

img:hover{
    cursor: pointer;
}

.icons{
    text-align: center;
}



.content{
    font-family: 'Gloock', serif;
}

.game-info{
    color: aqua;
    text-align: center;
    margin-bottom: 40px;
}

.title{
    color: #fe2cf1;
}
